html{
  height: 100%;
  background: linear-gradient(to bottom, gray, white);
}

#logo{
  width: 30%;
  display: inline;
  margin-bottom: 0px;
}

#logo img{
  width: 10%;
  margin-top: 2%;
  margin-left: 3%;
}

#teamName{
  width: 30%;
  display: inline-block;
  margin-left: 0%;
  padding-bottom: 0px;
  padding-left: 23%;
  padding-right: 6%;
}

#header{
  margin-top: 1%;
  margin-bottom: 0%;
}

h1{
  font-size: 85px;
  text-align: center;
  color: #F5F5F5;
  margin: 20px 0px;
}

#links{
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

#links ul{
  list-style-type: none;
  text-align: center;
}

#links li{
  display: inline;
}

#links a{
  text-decoration: none;
  padding: 40px;
  font-size: 25px;
  color: #484848;
}

#links a:hover{
  color: #F5F5F5;
}

h2{
  text-align: center;
  color: #383838;
  font-size: 43px;
}
