@media only screen and (min-width: 760px) {
  /* CSS for all pages */
  html{
    min-height: 100%;
    background: linear-gradient(to bottom, gray, white);
  }

  #logo{
    width: 30%;
    display: inline;
    margin-bottom: 0px;
  }

  #logo img{
    width: 10%;
    margin-top: 2%;
    margin-left: 3%;
  }

  #teamName{
    width: 30%;
    display: inline-block;
    margin-left: 0%;
    padding-bottom: 0px;
    padding-left: 23%;
    padding-right: 6%;
  }

  #header{
    margin-top: 1%;
    margin-bottom: 0%;
  }

  h1{
    font-size: 85px;
    text-align: center;
    color: #F5F5F5;
    margin: 20px 0px;
  }

  #links{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
  }

  #links ul{
    list-style-type: none;
    text-align: center;
  }

  #links li{
    display: inline;
  }

  #links a{
    text-decoration: none;
    padding: 40px;
    font-size: 25px;
    color: #484848;
  }

  #links a:hover{
    color: #F5F5F5;
  }

  h2{
    text-align: center;
    color: #383838;
    font-size: 43px;
  }

  /* CSS for team.php */
  .teamMember{
    display: inline-block;
  }

  .memberRow{
    text-align: center;
  }

  #team_photo{
    text-align: center;
  }

  #group_photo_caption{
    font-size: 30px;
  }

  .team_caption_name{
    font-size: 30px;
  }

  figcaption span{
    display: block;
    font-size: 20px;
    color: #383838;
    font-style: italic;
  }

  /* CSS for index.php */
  #homeImage img{
    margin-top: 5px;
    width: 100%;
  }

  p {
    text-align: center;
    font-size: 20px;
  }

  .upcomingHome {
    font-style: italic;
  }

  /* CSS for aboutus.php */
  #aboutImage {
    text-align: center;
    margin-top: 5px;
  }

  /* CSS for pastperformances.php */
  .slide {
    display: block;
    margin: 0px auto;
    width: 800px;
  }

  .image_container{
    text-align: center;
    background-color: gray;
    padding: 15px;
  }

  .slide_button {
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    border-width: 6px;
    border-radius: 5px;
  }

  #button_container{
    text-align: center;
    padding: 10px;
  }

  #current_img {
    height: 20%;
    width: 50%;
  }

  #right{
    margin-left: 35%;
    width: 15%;
  }

  #left{
    width: 15%;
  }

  .vidcontainer{
    text-align: center;
  }

  .vid{
    width: 40%;
    display: inline-block;
    margin-bottom: 30px;
    padding-top: 0px;
  }

  video{
    display: inline-block;
    width: 500px;
    height: 315px;
  }

  p span{
    display: block;
    font-size: 25px;
    color: #383838;
    font-weight: bold;
    margin-bottom: 0px;
  }

  p{
    margin-bottom: 0px;
  }

  .event{
    font-style: italic;
  }

  /* CSS for upcomingperformance.php */
  #performanceImage {
    text-align: center;
  }

  #performanceImage img{
    margin-top: 5px;
    width: 70%;
  }

  /* CSS for contact us */

  h3 {
    font-size: 28px;
    color: #383838;
  }

  #contactImage img {
    margin-top: 20px;
    width: 100%;
  }

  form {
    text-align: center;
    width: 50%;
    float: right;
  }

  #form_header {
    text-align: center;
  }

  div {
    width: 100%;
  }

  #contacts {
    width: 50%;
    float: left;
    text-align: center;
  }

  label {
    margin-top: 10px;
    font-size: 18px;
    display: inline-block;
    width: 35%;
    text-align: left;
  }

  input, textarea {
    box-sizing: border-box;
    font-style: italic;
    font-size: 15px;
    /*width: 250px;*/
    width: 50%;
    border: 1px solid black;
    margin-left: 0%;
  }

  textarea {
    margin-top: 10px;
    vertical-align: top;
    height: 100px;
  }

  .button {
    width: 10px;
    padding-left: 277px;
    padding-top: 37px;
    margin-left: 10%;
  }

  #submit_button {
    font-size: 15px;
  }

  .error{
    color: white;
    margin-left: 42.6%;
    width: 49.5%;
    float: left;
    background-color: #666666;
    border: 1px black solid;
    clear: both;
  }

  .hidden {
    display: none;
  }

  .italic{
    font-style: italic;
    font-size: 20px;
    display: inline;
  }

  .bold{
    font-weight: bold;
    font-size: 20px;
    display: inline;
  }
}
